[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

.vs/
.vscode/
.idea/

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

.DS_Store
Thumbs.db

sysinfo.txt

[Bb]uilds/
[Mm]aterialLibrary/
[Uu]ser[Ss]ettings/
